<section>
  <h1>Who am I?</h1>

  <div class="div-left">
    <div class="content-left" fadeIn>
      <img src="assets/hands.png">
    </div>
    <div class="content-right" fadeIn animation="slide-right">
      <h2>Hi I’m Samantha, usually known as Sam.</h2>
      <p>
        I’m a qualified teacher and therapist. I have an in depth knowledge of child development and work closely with parents, teachers and outside agencies to ensure the best outcome for children. I apply a cross theoretical, integrative and holistic therapeutic play approach and work non-directively, alongside the introduction of more directed interventions when appropriate. I have a deep respect for children, I’m warm and accepting.
      </p>
    </div>
  </div>

  <div class="main-para" fadeIn [thresholdMin]=".5">
    <p>
      I have experience of working therapeutically with children experiencing a diverse range of emotional/ behavioural/ socialand mental health difficulties including domestic violence, neglect, bereavement, separation, attachment, autism, selective mutism, anxiety, and more. I offer a safe, confidential space for children to explore their experiences, allowing for self-expression and gentle exploration of difficulties whilst promoting independence, self-esteem and self-regulation.
      <br>
      <br>
      I’m qualified with a Post Graduate Certificate in Therapeutic Play Skills, with distinction and also hold a Post Graduate Certificate in Education (PGCE). I have completed an Advanced Professional Trauma course with PESI. I’m a registered member of Play Therapy UK (PTUK) and adhere to their ethical framework. PTUK is accredited by the Professional Standards Authority (PSA). I attend regular supervision, have an advanced DBS, professional indemnity and public liability insurance and registered with ICO for data protection purposes.
      <br>
      <br>
      I’m married with two children and love spending time with my family. I enjoy practising yoga, paddle boarding, ballroom dancing and hiking.
    </p>
  </div>
</section>
