<section>
  <h1>What is play therapy?</h1>
  <img src="assets/toys.png">

  <div class="div-left">
    <div class="content-left" fadeIn>
      <img class="drawing-img" src="assets/therapy-child.png">
    </div>
    <div class="content-right" fadeIn animation="slide-right" [thresholdMin]="1">
      <h2>Play therapy is...</h2>
      <p>
        Play Therapy is to help children who have hurt and horrible feelings.
        <br>
        <br>
        When you hurt yourself on the outside, you feel pain and everyone can see the sore bit. You may cry and usually the person who cares for you will give you a hug and perhaps put a plaster on the hurt. They may even take you to the doctor to make you feel better.
        <br>
        <br>
        When you have hidden-away hurt feelings because of things that have made you unhappy, sad, angry, scared or lonely, a Play Therapist can help you  with these feelings so you can feel better.
        </p>
    </div>
  </div>

  <div class="div-right">
    <div class="content-left" fadeIn [thresholdMin]="1">
      <h2>But Why?</h2>
      <p>
        The Play Therapist has been asked to see you, because you feel sad or angry or scared about something or perhaps because something horrible has happened. Maybe you can’t help fighting or crying or you feel bad about yourself.
        <br>
        <br>
        Sometimes, it is hard to talk about your feelings so your Play Therapist will try to help you feel better without you having to explain things in words. That’s because children play their feelings better than they talk about them.
      </p>
    </div>
    <div class="content-right" fadeIn animation="slide-right" [thresholdMin]="1">
      <img class="drawing-img" src="assets/child-playing.png">
    </div>
  </div>

  <div class="div-left">
    <div class="content-left" fadeIn [thresholdMin]="1">
      <img class="drawing-img" src="assets/playing.png">
    </div>
    <div class="content-right" fadeIn animation="slide-right" [thresholdMin]="1">
      <h2>What will they do?</h2>
      <p>
        Your Play Therapist will meet the grown ups who know you best to find out what’s wrong and to plan how to help you.
        <br>
        <br>
        Then, your Play Therapist will arrange to meet you at the same time and in the same place every week and you will play together for about an hour.
      </p>
    </div>
  </div>

  <div class="div-right">
    <div class="content-left" fadeIn [thresholdMin]="1">
      <h2>What will they play with?</h2>
      <p>
        Your Play Therapist will have lots of toys to play with, like drawing and painting stuff, toy people and animals, puppets and storybooks...
        <br>
        <br>
        You can choose what you’d like to play with best. Your Play Therapist will help you sort out your feelings and worries so you can feel better.
      </p>
    </div>
    <div class="content-right" fadeIn animation="slide-right" [thresholdMin]="1">
      <img class="drawing-img" src="assets/toys2.png">
    </div>
  </div>

  <div class="div-left">
    <div class="content-left" fadeIn [thresholdMin]="1">
      <img class="drawing-img" src="assets/playing2.png">
    </div>
    <div class="content-right" fadeIn animation="slide-right" [thresholdMin]="1">
      <h2>What will they do?</h2>
      <p>
        In  the play room with the Play Therapist, you get to choose what to play with and you can do or say nearly anything that you want.
        <br>
        <br>
        Play Therapy is very different from school and home: your Play Therapist may have a few special rules, such as not breaking toys on purpose, but the biggest one is that you don’t hurt each other so that you both stay safe.
        <br>
        <br>
        Children’s problems can get better when they understand their feelings. This might happen quickly or it might take a long time but in the end you and your Play Therapist will both feel ready to say goodbye and you will feel able to manage without them.
      </p>
    </div>
  </div>
</section>
