<section class="hero">
  <div class="header">
    <h1>Meeting the needs of children's social, emotional, behavioural and mental health difficulties</h1>
  </div>
  <img src="assets/hero-img-alt.png">
</section>
<section class="container">
  <div class="what-is">
    <h2>What is Play Therapy?</h2>
    <p>Play is the means by which children get to know themselves, understand their experiences in the world and start to understand other people around them.</p>
    <a routerLink="/what-is-play-therapy">Learn More...</a>
  </div>
</section>
<section class="container">
  <img class="profile-img" src="assets/me.jpg">
  <div class="i-am">
    <h2>Samantha Clermont</h2>
    <p>I have been working with children for over twenty years. My experience in nurseries, child care and education have shown me every child is an individual, each with their own wonderful potential - some just need more help for it to blossom.</p>
    <a routerLink="/about-me">Learn More...</a>
  </div>
</section>
