<section class="header">
  <div class="nav-left">
    <img src="assets/logo.png" alt="LOGO">
    <img class="name-img" src="assets/name.png" alt="LOGO">
  </div>
  <div class="nav-right">
    <a href="https://www.facebook.com/samantha.clermont"><i class="fa fa-facebook"></i></a>
    <a href="https://www.facebook.com/samantha.clermont"><i class="fa fa-twitter"></i></a>
    <button>contact<i class="fa fa-envelope"></i></button>
  </div>
</section>
<section class="nav">
  <div class="nab-links">
    <a *ngFor="let link of navLinks" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="link.route">
      {{ link.name }}
    </a>
  </div>
</section>
