<section id="section" class="header">
  <div class="nav-left" (click)="router.navigate(['/'])">
    <img src="assets/logo.png" alt="LOGO">
    <img class="name-img" src="assets/name.png" alt="LOGO">
  </div>
  <div class="mobile-nav">
    <button class="menu-button" (click)="openNav()"><i class="fa fa-bars"></i></button>
  </div>
  <div class="nav-right">
    <a href="https://uk.linkedin.com/in/samantha-clermont-47031b9b" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a (click)="email()"><i class="fa fa-envelope"></i></a>
    <button routerLink="/contact">contact<i class="fa fa-paper-plane"></i></button>
  </div>
</section>
<section class="nav">
  <div class="nab-links">
    <a *ngFor="let link of navLinks" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="link.route">
      {{ link.name }}
    </a>
  </div>
</section>

<div id="mySidenav" class="sidenav">
  <div class="nav-menu-container">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a (click)="closeNav()" *ngFor="let link of navLinks" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-nav" [routerLink]="link.route">
      {{ link.name }}
    </a>

    <div class="social-links">
      <a href="https://uk.linkedin.com/in/samantha-clermont-47031b9b" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      <a (click)="email()"><i class="fa fa-envelope"></i></a>
      <button (click)="closeNav()" routerLink="/contact">contact<i class="fa fa-paper-plane"></i></button>
    </div>
  </div>
</div>
